.subMenu {
	
	height: 50px;

	z-index: 1000;
	width: 100%;
	background: #AB0000;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}

.subMenu a:hover {
	background: #D70000;
}