html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }

.pure-g {
    text-align: center;
    font-family: sans-serif;
    border: solid;
    border-width: 1px;
    background-color: #F4F5F3;
}

.l-box {
    padding: 1em;
}

#menu {
    background-color: #f2f2f2;
}

#header_wrap {
    height: 10em;
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}
.hero {
    text-align: center;
}
    .hero-titles {
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 1em;
        margin: 0 auto;
        max-width: 768px;
    }
    .hero-site {
        margin: 0;
        color: #fff;
        font-size: 80px;
        font-weight: 700;
        text-shadow: #111 0px 0px 10px;
    }
    .hero-tagline {
        font-size: 150%;
        font-weight: 200;
        line-height: 1.5;
        margin: 0 0 1em;
        color: #A4A4A4;
    }